.first_main{
    background-color: #089273;
    padding-bottom: 60px;
}
.design_layer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.design_layer img{
    width: 100%;
    
}
.rm_heading_cont h1{
    font-family: 'TT Norms Pro';
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    line-height: 59.9px;
    font-style: italic;
    font-weight: 900;
    color: white;
    text-align: center;
}
.roadmap_content{

    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.sub_cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 8%;
}
.num_container{
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.8px;
    color: #FEC700;
    margin-bottom: 25px;
    width: 30%;
 
}

.rm_text_cont{
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.8px;
    color: white;
    text-align: right;
    margin-bottom: 25px;
    width: 70%;
}

@media screen and (max-width: 768px){
    .first_main{
        padding-bottom: 50px;
    }
    .rm_heading_cont h1{
        margin-bottom: 40px;
        font-size: 45px;
    }
    .sub_cont{
        padding: 0 20px;
    }
    .num_container{
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 22px;
        width: 20%;
    }
    .rm_text_cont{
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 22px;
        width: 80%;
        text-align: left;
    }    
}