.cover_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.headline_container{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-400px);
    max-width: 800px;
    width: 100%;
    color:#fff;
    text-align: center;
}
.headline_container h1 {
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 0;
    line-height: 60px;
    color: white;
    text-align: center;
}

.headline_container button{
    color: white;
    width: 195px;
    height: 58px;
    line-height: 21.09px;
    font-size: 18px;
    font-weight: 900;
    border: none;
    background: url('../../assets/images/btn_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}
.headline_container button:hover{
    opacity: 0.9;
    cursor:pointer;  
    transition: all .2s ease-in-out; 
}



.cover_container img{
    width: 100%;
}

.etherium_heading{
    background-color: #627EEA;
    height: 106px;
    width: 100%;
}
.etherium_heading h1{
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    width: 95%;
    line-height: 106px;  
    max-width: 1440px;
    letter-spacing: 1px;
    margin: 0% auto;
    color: white;
}
@media screen and (max-width: 768px){

    .etherium_heading{
        background-color: #627EEA;
        height: 76px;
        width: 100%;
    }
    .etherium_heading h1{
        font-size: 22px;
        line-height: 76px;  
        text-align: center;
    }
    .headline_container{
        position: absolute;
        top: 0;
        left: 0%;
        height: 100%;
        width: 100%;
        transform: translateX(0px);
        max-width: 800px;
        width: 100%;
        color:#fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0 20px;
    }
    .headline_container h1{
        font-family: 'TT Norms Pro';
        font-style: italic;
        font-weight: 900;
        font-size: 16px;
        line-height: 25px;
        color: white;
        margin-bottom: 10px;
    }
    .headline_container button{
        color: white;
        width: 165px;
        height: 50px;
        line-height: 21.09px;
        font-size: 16px;
        margin-top: 0px;
    }
}

