.main_pink_container {
    background-color: #b5004c;
}

.rent_section_main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 95%;


}

.rent_section_image {
    width: 50%;
}

.rent_section_image img {
    width: calc(100% - 20%);
}

.rent_section_text {
    width: 50%;

}

.rent_section_text h1 {
    font-family: 'TT Norms Pro';
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 20px;
}

.rent_section_text p {
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
}

@media screen and (max-width: 1150px) {
    .rent_section_text h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .rent_section_text p {

        font-size: 17px;
        line-height: 28px;
    }
}

@media screen and (max-width: 768px) {
    .main_pink_container {
        background-color: #b5004c;
    }

    .rent_section_main {
        flex-direction: column-reverse;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .rent_section_image {
        width: 100%;
        padding-top: 35px;
    }

    .rent_section_image img {
        width: 100%;
    }

    .rent_section_text {
        width: 100%;

    }

    .rent_section_text h1 {
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .rent_section_text p {

        font-size: 19px;
        line-height: 30px;
    }
}