.footer_container{
    background-color: #212529;

}
.footer_wrap{
    max-width: 1440px;
    position: relative;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}
.sub_footer{
    text-align: center;

}
.footer_container  div  h2 {
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer_container .join_p {
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    
    /* identical to box height, or 145% */
    text-align: center;
    
    color: rgba(255, 255, 255, 0.8);
}
.icons_container {
    width: 70px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
}

.footer_container .credit_p {
    color: rgba(255, 255, 255);
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 37px;
    letter-spacing: 1px;
}
.icons_container span{
    color: #fff;
    font-size: 25px;
}
.icons_container span:hover{
    color:#FF9900; 
    cursor:pointer;  
    transition: all .2s ease-in-out; 
    transform: scale(1.2);
}
.horse_container{
    position: absolute;
    bottom: 0;
    left: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 25%;
    max-width: 364px;
}
.horse_container img{
    width: 100%;    
}
@media screen and (max-width: 768px){

    .footer_wrap{
  
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer_container > div > h2 {
        font-size: 30px;
    }
    .footer_container .join_p {
        font-size: 20px;
        line-height: 28px;
    }
    .icons_container {
        width: 70px;
    }
    .footer_container .credit_p {
        font-size: 14px;
    }
    .horse_container{
        display: none;
    }
}